# Data Science Tools and Ecosystem

## Author
#### Akmal Faza

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List popular data science libraries
- Table of Data Science tools
- Arithmetic expression examples
- Multiply and add numbers example

##### Some of the popular languages that Data Scientists use are:

1. python
2. R
3. Julia

##### Some of the commonly used libraries used by Data Scientists include:

1. numpy
2. matplotlib
3. tensorflow

| Data Science Tools |
| ----- |
| Jupyter Notebook |
| IBM DB2 |
| Python |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

200 // 60

3